<div class="container my-4">
  <h1>Dashboard</h1>
  <div class="d-flex mt-3">
    <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
    <div class="ms-4">
      <p class="m-0"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
      <p class="m-0"><%= current_user.email %></p>
    </div>
  </div>
  <hr>
  <% if @owner_status %>

  <div class="my-4">
    <h3>My Offers</h3>
    <% @bookings_from_user.each do |booking_from_user| %>
      <div class="card-product mt-3 d-flex justify-content-between">
        <%= cl_image_tag booking_from_user.item.photo.key %>
        <div class="card-product-infos">
          <h2><%= booking_from_user.item.name %></h2>
          <p><strong><%= booking_from_user.start_date %> - <%= booking_from_user.end_date %></strong></p>
          <p><%= booking_from_user.item.description %></p>
        </div>
        <div class="card-product-right">
          <%= cl_image_tag booking_from_user.user.avatar.key, class: "avatar" %>
          <div>
          <% if booking_from_user.status == "Pending" %>
            <%= link_to booking_path(booking_from_user, { booking: {status: "Accepted"} }), method: :patch do %>
              <i class="far fa-check-circle"></i>
            <% end %>
            <%= link_to booking_path(booking_from_user, { booking: {status: "Declined"} }), method: :patch do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          <% else %>
            <%= booking_from_user.status %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
  <div class="my-4">
    <h3>My Bookings</h3>
    <% @bookings_of_user.each do |booking_of_user| %>
      <div class="card-product mt-3">
        <%= cl_image_tag booking_of_user.item.photo.key %>
        <div class="card-product-infos">
          <h2><%= booking_of_user.item.name %></h2>
          <p><%= booking_of_user.item.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
