<div class="container">
  <div class="dropdown mt-10px">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      Category
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Clothes</button></li>
      <li><button class="dropdown-item" type="button">Shoes</button></li>
      <li><button class="dropdown-item" type="button">Bags</button></li>
      <li><button class="dropdown-item" type="button">Accesories</button></li>
    </ul>
  </div>
</div>
<div class="card-wrapper">
<div class="container">
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-trip">
      <%= cl_image_tag item.photo.key, width: 400, height: 300, crop: :fill%>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to item.name, item_path(item)%></h2>
            <p> <%= item.description %> </p>
            <p><%= item.brand %> </p>
          </div>
          <h2 class="card-trip-pricing">$<%= item.price %> </h2>
          <%= cl_image_tag item.user.avatar.key, height: 40, width: 40, crop: :fill, class: "card-trip-user avatar-bordered" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <%# <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoicmF0bmFwdXJ3YXRpIiwiYSI6ImNremkxZGtmdDA0YmQyb2w0cHl2Zm5lNXIifQ.OX6VQg7kVcx3Xz7h7FX52Q'> %>
  <div style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
