<div class="container mb-4 mt-4">
  <div class="card-item">
    <%= cl_image_tag @item.photo.key, width: 200, height: 200, crop: :fill %>
    <%= cl_image_tag @item.user.avatar.key, id:"avatar" %>
    <br>
    <table class="table table-borderless card-body">
      <thead>
        <tr>
          <th colspan="3"><%= @item.name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Brand:</th>
          <td><%= @item.brand %></td>
        </tr>
        <tr>
          <th scope="row">Category:</th>
          <td><%= @item.category %></td>
        </tr>
        <tr>
          <th scope="row">Description:</th>
          <td><%= @item.description %></td>
        </tr>
        <tr>
          <th scope="row">Price: </th>
          <td colspan="4">$<%= @item.price %> per day</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-ghost" href="#">Save for Later</a>
  </div>
  <br>
  <br>
  <div class="container d-flex">
    <div>
      <h3>Reviews:</h3>
      <div class="card-review">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <br>
      <div class="card-review">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
      <br>
      <div class="card-review">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
    <div class="reserve-form">
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :total_price, as: :hidden %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Reserve" %>
      <% end %>
      <br>
      <p>You won't be charged yet</p>
    </div>
  </div>
  <br>
  <a href="#" class="text-dark">Click here for more reviews</a>
  <br>
  <a href="#" class="text-dark">Browse for more classes</a>
</div>
