<div class="container mb-4 mt-4">
  <div class="card-item">

    <%= cl_image_tag @item.photo.key, crop: :fill %>
    <div class="card-item-middle">
      <h3><%= @item.name %></h3>
      <br>
      <div class="item-details d-flex">
        <div data-controller="favourite">
          <p>Brand:</p>
          <p>Category:</p>
          <p>Description:</p>
          <p>Price: </p>
          <button data-action="click->favourite#show" class="btn bg-transparent" data-favourite-target="btn"><i class="far fa-heart fa-2x" data-favourite-target="icon" style='color: #FF0000'></i></button>
          <div class="text d-none" data-favourite-target="text">
            Saved to favorite!
          </div>
        </div>
        <div class="item-value">
          <p><%= @item.brand %></p>
          <p><%= @item.category %></p>
          <p><%= @item.description %></p>
          <p>$<%= @item.price %> / day</p>
        </div>
      </div>
    </div>
    <div class="card-item-right">
      <%= cl_image_tag @item.user.avatar.key, id:"avatar" %>

       <div class="reserve-form">
        <h3>Rent Now</h3>
        <%= simple_form_for [@item, @booking] do |f| %>
          <%= f.input :total_price, as: :hidden %>
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date,as: :date, html5: true %>
          <%= f.submit "Request", class:"btn btn-ghost" %>
        <% end %>
        <br>
        <p>You won't be charged yet</p>
      </div>
      <%= link_to "Save for Later", dashboard_path, class:"btn btn-ghost" %>

    </div>
  </div>
  <br>
  <br>
  <div class="container d-flex justify-content-between align-items-start">
    <div>
      <h3>Reviews:</h3>
      <div class="card-review">
        <div class="card-product-infos">
          <h2>Esra Parr</h2>
          <div class="users-ratings">
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
          </div>
          <p>I love it very much!</p>
        </div>
      </div>
      <br>
      <div class="card-review">

        <div class="card-product-infos">
          <h2>Suzy Walton</h2>
          <div class="users-ratings">
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
          </div>
          <p>The condition is very good</p>
        </div>
      </div>
      <br>
      <div class="card-review">
        <div class="card-product-infos">
          <h2>Rory Williams</h2>
          <div class="users-ratings">
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
            <i class='fa fa-star' style='color: #f3da35'></i>
          </div>
          <p>It matches me!</p>
        </div>
      </div>
    </div>
  </div>
</div>
